h1 	{
	text-align: center;
}

body {
    background-image: url(img/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding-top: 64px;
	font-family: 'Skranji', cursive;
	color: black;

}

.jumbotron	{
	background-color: transparent;
}

#logo	{

    border-radius: 15px;
}

.row {
	text-align: center;
}

.features	{
	text-align: center;
	font-weight: 1000;
}

#productHeader	{
	text-align: center;
}

#productD	{
	text-align: center;
}

ul 	{
	text-align: left;
}

.pt	{
	text-align: center;
}

img{max-width:100%;}
	*{transition: all .75s ease;
		-moz-transition: all .75s ease;
		-webkit-transition: all .75s ease}

.proList {
    width: 100%;
    height: 275px;
    padding: 10px;
    float: left;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:relative;
    overflow:hidden;
}

.proList h3{
    text-align: left;
    font-size: 14px;
    font-weight: 1000;
    line-height: 21px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    }

.proList .offer{
    width: 100%;
    float: left;
    margin: 5px 0;
    border-top: 1px solid #ccc8c7;
    margin-top: 5px;
    padding-top: 5px;
	font-weight: 1000;
    }

.detail {
    position: absolute;
    top: -107%;
    left: 0;
    text-align: center;
    background: #808080;
    height: 100%;
    width:100%;
	font-weight: 1000;
	padding-top: 15px;
}
	
.proList:hover 

.detail{
    top:0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
